[submodule "modules/InsaneCpp"]
	path = modules/InsaneCpp
	url = https://github.com/Satancito/InsaneCpp.git
[submodule "modules/Botan-2.19.3-Emscripten-Llvm-Release"]
	path = modules/Botan-2.19.3-Emscripten-Llvm-Release
	url = https://github.com/CommonCppLibs/Botan-2.19.3-Emscripten-Llvm-Release.git
[submodule "modules/CommonCppIncludes"]
	path = modules/CommonCppIncludes
	url = https://github.com/Satancito/CommonCppIncludes.git
[submodule "modules/PsBotan"]
	path = modules/PsBotan
	url = https://github.com/Satancito/PsBotan.git
