[submodule "submodules/InsaneCpp"]
	path = submodules/InsaneCpp
	url = https://github.com/Satancito/InsaneCpp.git
[submodule "submodules/CommonCppIncludes"]
	path = submodules/CommonCppIncludes
	url = https://github.com/Satancito/CommonCppIncludes.git
[submodule "submodules/PsCoreFxs"]
	path = submodules/PsCoreFxs
	url = https://github.com/Satancito/PsCoreFxs.git
[submodule "PsBotan"]
	path = Submodules/PsBotan
	url = https://github.com/Satancito/PsBotan.git
